
:root {
    --tan: #F5D7CC;
    --black: #2A2929;
    --white: #FFF;
    --green: #13402F;
    --orange: #FF5C27;
    --main: "Hedvig Letters Serif", serif;
    --heading: "Hedvig Letters", serif;
    --mono: "DM Mono", monospace;
    --reg: "DM Sans", sans-serif;
    --italic: "Hedvig Letters", serif;
    --base-size: 1rem;
    --scale: 1.3;
    --small: calc(var(--basesize) / var(--scale));
    --h1: calc(var(--h2) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h4: calc(var(--h5) * var(--scale));
    --h5: calc(var(--h6) * var(--scale));
    --h6: var(--base-size);
}
*{
    max-width: 1000px;
    margin: 0 auto;
}
body {
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    background-color: var(--tan);
    margin: 0;
    padding: 0;
    color: #333;
}
/* Navbar Styling */
.navbar {
    display: flex; /* Flexbox for layout */
    width: 90%;
    margin: 30px auto;
    justify-content: space-between; /* Space between left and right sections */
    align-items: center; /* Align items vertically */
    top: 0; /* Stick to the top of the viewport */
    z-index: 1000; /* Ensure it stays on top */ 
}
.navbar img {
    height: 20px;
    width: 20px;
}
.navbar-left {
    position: fixed;
    display: flex; /* Use Flexbox for layout */
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-start; /* Align content to the left */
}
.navbar-right {
    position: fixed;
    font-family: var(--reg);
    font-weight: 300;
    right: 5%;
    z-index: 1000; /* Keep it above other content */
    display: flex; /* Align links horizontally */
    gap: 1rem; /* Add spacing between links */
}
.navbar-right a {
    text-decoration: none; /* Remove underline */
    color: #333; /* Link color */
    font-size: 1rem;
    transition: color 0.3s ease; /* Add hover effect */
}
.navbar-right a:hover {
    color: var(--red); /* Change color on hover */
}
.hero {
    display: flex;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 200px;
}
.hero .text h1 {
    font-size: 3rem;
    color: #000;
    margin: 0;
}
.hero .text .highlight-orange {
    font-size: 3rem;
    color: orange;
}
.hero img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 20px;
}
.content p {
    margin: 20px;
    line-height: 1.6;
}
